<div class="jumbotron">
  <h1>Riddles of the Sphynx</h1>
</div>

<form action="/output" method="post">
  <div class="form-group">
    <h2><%= @question1 %></h2>
    <label for="riddle"></label>
    <input name="riddleone" class="form-control" type="text">
    <h2><%= @question2 %></h2>
    <label for="riddletwo"></label>
    <input name="riddletwo" class="form-control" type="text">
    <h2><%= @question3 %></h2>
    <label for="riddlethree"></label>
    <input name="riddlethree" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-danger">GO!</button>
</form>
